<!DOCTYPE html>
<html lang="en" th:replace="~{base::parent(~{::#content},~{::title},~{::script})}">
<head>
<meta charset="UTF-8">
<title>Home Page</title>
<link href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css" rel="stylesheet" />
</head>
<body>
<div id="content">
<h1>Welcome to home page</h1>
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam temporibus ratione nisi consectetur eaque modi quas inventore dolorem facere illum quis voluptatum non nihil iste suscipit rem in ab repellat.
</p>

</div>
	<script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>
<script>
console.log("home page")</script>

</body>
</html>