<!DOCTYPE html>
<html lang="en" th:replace="~{base::parent(~{::#content},~{::title},~{})}">
<head>
<meta charset="UTF-8">
<title> service page </title>
</head>
<body>
<section id="content">
<h1>Welcome to Service Page</h1>
<h2>Services offered by SCM</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis temporibus deleniti dolores delectus recusandae autem rerum ut veritatis expedita molestiae repellendus aliquam minima. Suscipit libero nobis expedita provident id iste.</p></section>


</body>
</html>